<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="missionarogya.thestrokeapp" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/heart"
        android:label="fastER MED"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Medical Care and Emergency"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Diagnosis"
            android:label="Hospital Information"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".EvaluateSymptoms"
            android:label="Evaluate the symptoms"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".Icons"
            android:label="Others" >
        </activity>
        <activity
            android:name=".HospitalInformationList"
            android:label="@string/title_activity_hospital_information_list" >
        </activity>
    </application>

</manifest>
